<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style type="text/css">
	
</style>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Documento sin t&iacute;tulo</title>
</head>
<body>
<select name="cmbanio" size="1" id="cmbanio">
  <option value = "0" ><font color="#990000" size="+1">chale</font></option>
  <option value = "1" ><font color="#00FF00">chalo</font></option>
  <option value = "2" >chile</option>
</select>
</body>
</html
